.admin_header {
  display: flex;
  justify-content: space-between;
  padding: 0.25em;
}

.admin_nav > button {
  padding: 0 0.25em;
}

.admin_header > button {
  padding: 0 0.25em;
}

.admin_nav {
  padding: 0 0.25em;
}
