.admin_container {
  padding: 0.25em;
  height: 100%;
}

.admin_container > form > input {
  width: 100%;
  padding: 0.25em;
}

.search_list {
  max-height: 250px;
  overflow-y: scroll;
}

.selected_user_delete {
  display: flex;
  justify-content: space-between;
}

.selected_user {
  border: 2px solid red;
  padding: 0 0.25em;
}

.unselected_user {
  border: 2px solid black;
  padding: 0 0.25em;
}
