.adminPosts_container > h1 {
  padding: 0 0.25em;
}

.adminPosts_container > form {
  display: flex;
}

.adminPosts_container > form > input {
  margin: 0.25em;
  margin-bottom: 0;
  padding: 0.25em;
  width: 100%;
}

.adminPosts_info {
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.adminPosts_info > button {
  width: 100%;
}

.postList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25em;
}

.postList > div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 0.25em;
}

.postList > div > input {
  align-self: flex-end;
}

.postList > div > img {
  width: 100%;
}

.postList > div > p {
  text-overflow: clip;
}
