.admin_form > input {
  width: 100%;
  padding: 0.25em;
}

.search_list {
  overflow-y: auto;
  height: 100%;
}

.search_list > div {
  padding: 0.25em;
}

.search_list > div > p {
  font-weight: bold;
}

.select_user {
  display: flex;
  gap: 0.25em;
}

.hidden_checkbox {
  visibility: hidden;
}

.admin_user_delete_button {
  padding: 0 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: inherit;
}

.admin_user_delete_button > svg {
  width: 100%;
  max-width: 25px;
}
