.adminDisplayComments_container {
}

.comment_section > input {
  width: 100%;
  padding: 0.25em;
}

.comment_section > button {
  width: 100%;
  padding: 0 0.25em;
}

.comment_list {
  border: 1px solid red;
  overflow-y: auto;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment > div {
  display: flex;
  gap: 0.25em;
}

.comment > div > p {
  font-weight: bold;
}

.comment > p:first-of-type {
  overflow-wrap: break-word;
}

.comment > p:last-of-type {
  align-self: flex-end;
}
