.backHeader_container {
  max-height: 50px;
  height: 100%;
  border: 2px solid black;
  width: 100%;
  display: flex;
  align-items: center;
}

.backHeader_container > svg {
  max-width: 50px;
  cursor: pointer;
}

.backHeader_container_profile {
  max-height: 50px;
  border: 2px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.backHeader_container_profile > div {
  max-width: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.backHeader_container_profile > div > svg {
  width: 100%;
}
