.search_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.searchBar > input {
  width: 100%;
  padding: 0.5em;
}

.searchUserList_container {
  padding: 0.25em;
}

.searchUser_card {
  cursor: pointer;
  display: flex;
}

.searchUser_card > p {
  font-weight: bold;
}
